.layout-site {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    .topo {
        border: 1px solid blue;
        height: 150px;
    }

    .principal {
        border: 1px solid black;
        flex: 1;
        width: 100%;
    }

    .rodape {
        border: 1px solid green;
        height: 50px;
    }
}